################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DataMigrationTool/packages
/DataMigrationTool/.vs
/DataMigrationTool/Vsan.Common/bin
/DataMigrationTool/Vsan.Common/obj
/DataMigrationTool/Vsan.DataMigration.Core/bin
/DataMigrationTool/Vsan.DataMigration.Core/obj
/DataMigrationTool/Vsan.DataMigration.Models/bin
/DataMigrationTool/Vsan.DataMigration.Models/obj
/DataMigrationTool/Vsan.DataMigration.WebApi/bin
/DataMigrationTool/Vsan.DataMigration.WebApi/obj
/DataMigrationTool/Vsan.Scheduling.Server/bin/Debug
/DataMigrationTool/Vsan.Scheduling.Server/obj
