<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>111.231.116.56</MSDeployServiceURL>
    <DeployIisAppPath>DataMigration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataMigrationEntities" Order="1" Enabled="False">
          <Destination Path="server=localhost;user id=root;password=19950929tw;persistsecurityinfo=True;database=data_migration;Charset=utf8; " />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vsan.DataMigration.Models.DataMigrationEntities, Vsan.DataMigration.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataMigrationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Vsan.DataMigration.csdl|res://*/Vsan.DataMigration.ssdl|res://*/Vsan.DataMigration.msl;provider=MySql.Data.MySqlClient;provider connection string="server=localhost;user id=root;password=19950929tw;persistsecurityinfo=True;database=data_migration;Charset=utf8; "</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>