@{
    ViewBag.Title = "数据源字段管理";
}
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-inline">
        <input type="text" name="keyword" id="keyword" placeholder="请输入查询关键字" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-input-inline" style="width:200px">
        <select name="dataSource" id="dataSource" lay-verify="required" placeholder="所有数据源">
            <option value="">所有数据源</option>
        </select>
    </div>
    <div class="layui-inline">
        <button class="layui-btn " lay-event="search">搜索</button>
        <a class="layui-btn  layui-btn-danger " lay-event="deleteRows">批量删除</a>
    </div>
</script>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-danger " lay-event="deleteRow">删除</a>
</script>
@section scripts{
    <script>
        if (top.layer) {
            top.layer.closeAll();
        }
        layui.use(['table', 'form', 'laydate'], function () {
            var table = layui.table;
            var laydate = layui.laydate;
            var $ = layui.$;
            var form = layui.form;
            //资源名称
            var dsUrl = '/api/DataSource/'
            var fieldUrl = '/api/DataSourceFields/'



            function reloadSelect() {

                $.get(dsUrl, { page: 1, limit: 1000 }, function (res) {

                    var data = res.data;

                    var html = ['<option value="">所有数据源</option>'];

                    for (var i = 0; i < data.length; i++) {
                        var item = data[i]
                        html.push(' <option value="', item.Id, '">', item.DataSourceName, '</option>');
                    }
                    $("#dataSource").html(html.join(''));

                    form.render('select');
                });
            }
            reloadSelect();



            //重新加载Table
            function reLoadTable() {

                reloadSelect();

                var where = {
                    keyword: $("#keyword").val(),
                    dataSource: $("#dataSource").val(),
                }
                table.reload('test', {
                    where: where,
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    done: function () {
                        $("#keyword").val(where.keyword)
                        $("#dataSource").each(function () {
                            var $ele = $(this),
                                $value = $ele.attr("data-value");
                            $ele.find("option[value = '" + where.dataSource + "']").attr("selected", "selected");
                        });
                        form.render('select');
                    }
                });
            }




            table.render({
                elem: '#test'
                , url: fieldUrl
                , toolbar: '#toolbarDemo'
                , title: '数据源'
                , cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'Id', title: '编号', width: 70, align: 'center', fixed: 'left' },
                    { field: 'DataSourceName', title: '数据源', minWidth: 200, align: 'center' },
                    { field: 'TableName', title: '表名称', minWidth: 100, align: 'center' },
                    { field: 'FieldName', title: '字段名称', minWidth: 100, align: 'center' },
                    { field: 'FieldComment', title: '字段注释', minWidth: 100, align: 'center', edit: 'text' },
                    { field: 'FieldType', title: '字段类型', align: 'center' },
                    { field: 'FieldLength', title: '字段长度', align: 'center' },
                    { fixed: 'right', width: 80, title: '操作', fixed: 'right', toolbar: '#barDemo' }
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {

                switch (obj.event) {

                    case 'search':
                        reLoadTable();
                        break;
                    case 'add':

                        var width = window.innerWidth > 800 ? '800px' : '90%';
                        var height = window.innerWidth > 494 ? '494px' : '90%';

                        layer.open({
                            type: 2,
                            title: '添加数据源',
                            shadeClose: true,
                            shade: 0.8,
                            area: [width, height],
                            content: addUrl //iframe的url
                        });
                        break;

                    case 'deleteRows':
                        var checkStatus = table.checkStatus('test')
                            , data = checkStatus.data;

                        var ids = [];

                        //  console.log(JSON.stringify(data));

                        for (var i = 0; i < data.length; i++) {
                            ids.push(data[i].Id);
                        }

                        if (ids.length <= 0) {
                            layer.msg('请选择数据.');
                            return false;
                        }

                        layer.confirm('真的删除行么？', {
                            btn: ['确定', '取消'] //按钮
                        }, function (index) {
                            $.ajax({
                                type: "Post",
                                url: "/api/DataSourceFields/DeleteBatch",
                                data: { ids: ids },
                                success: function () {
                                    reLoadTable();
                                    layer.close(index);
                                    okAlert("删除成功");
                                },
                                error: function (req, info, ex) {
                                    errorAlert("删除失败" + info);
                                }
                            })
                        }, function () {
                            layer.msg('取消了');
                        });
                        break;
                };


            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'deleteRow') {
                    layer.confirm('真的删除行么？', {
                        btn: ['确定', '取消'] //按钮
                    }, function (index) {
                        $.ajax({
                            url: fieldUrl + data.Id,
                            type: "Delete",
                            success: function () {
                                obj.del();
                                layer.close(index);
                                okAlert("删除成功");
                            },
                            error: function (req, info, ex) {
                                errorAlert("删除失败" + info);
                            }
                        })
                    }, function () {
                        layer.msg('取消了');
                    });
                }
            });



            table.on('edit(test)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                console.log(obj.value); //得到修改后的值
                console.log(obj.field); //当前编辑的字段名
                console.log(obj.data); //所在行的所有相关数据

                if (obj.field == 'FieldComment') {

                    $.post('/api/DataSourceFields/AddComment',
                        {
                            FieldId: obj.data.Id,
                            Comment: obj.value
                        }, function (res) {
                            if (res) {
                                layer.msg("修改成功");
                            }
                        })

                }

            });




        });
    </script>
}

