@{
    ViewBag.Title = "添加账号";
}
<div id="showEdit">
    <div style="margin:10px 30px 10px -10px; ">
        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label my-label">组</label>
                <div class="layui-input-block">
                    <input id="dataSourceName" name="DataSourceName" placeholder="请输入组名称" class="layui-input " />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label my-label">地址</label>
                <div class="layui-input-block">
                    <input name="port" id="port" value="" required placeholder="请输入地址" class="layui-input " />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label my-label">账号</label>
                <div class="layui-input-block">
                    <input id="dataSourceName" name="DataSourceName" placeholder="请输入账号" class="layui-input " />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label my-label">密码</label>
                <div class="layui-input-block">
                    <input name="password" id="password" value="" required placeholder="请输入密码" class="layui-input " />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea name="Description" placeholder="请输入描述" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        var index = undefined;
        if (parent.layer) {
            index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        }
        layui.use(['form'], function () {
            var $ = layui.$;
            var form = layui.form;

            var url_edit = '/api/DataSource/'
            var url_table = '/api/table/'

            form.render();
          
            var sqlLink = "";

            var typeCode = '';


            //监听选择类型事件
            form.on('select(typeCode)', function (data) {
                typeCode = data.value; //得到被选中的值
                console.log(typeCode);
                connString()

            });

            function connString() {

                if (typeCode == 'MySql') {

                    var port = $("#port").val() == '' ? '3306' : $("#port").val();

                    $("#port").val(port);

                    sqlLink = 'User ID=' + $("#account").val() + ';'
                        + 'Password=' + $("#password").val() + ';'
                        + 'Host = ' + $("#host").val() + '; '
                        + 'Port = ' + port + '; '
                        + 'Database = ' + $("#dbName").val() + ';'
                        + 'Character Set = utf8;'
                        ;

                    $("#link").val(sqlLink);
                } else if (typeCode == 'SqlServer') {

                    var port = $("#port").val() == '' ? '1433' : $("#port").val();
                    $("#port").val(port);

                    sqlLink = 'Data Source = ' + $("#host").val() + ',' + port
                        + '; Initial Catalog =' + $("#dbName").val()
                        + '; User Id = ' + $("#account").val()
                        + '; Password = ' + $("#password").val() + '; ';
                    $("#link").val(sqlLink);
                } else {
                    $("#link").val('');
                }

            }


            $("#showEdit input").on("input", function (e) {
                //获取input输入的值
                connString();
                isLoading = false;
                table = [];
            });

            $("#dataSourceName").on("input", function (e) {
                var that = $(this);
                var val = that.val();
                if (val && val.trim()!= '') {
                    $.get("/api/DataSource/IsNameExist/" + val, function (res) {
                        if (res) {
                            errorAlert('名称:"' + val + '"已经存在，请勿重复添加', function () {
                                that.val('');
                            });
                        }
                    });
                }
            });




            //监听提交
            form.on('submit(formDemo)', function (data) {

                $.post(url_edit, data.field, function (res) {
                    okAlert("添加成功", function () {
                        parent.location.reload();
                    });
                }).error(function (r, s, c) {
                    errorAlert("添加失败 ");
                });

                return false;
            });

            var table = [];
            var isLoading = false;
            var table_input = $('#table_input_box input');

            table_input.on('focus', function (e) {

                var val = table_input.val()

                console.log(val);

                if (table.length <= 0 && isLoading == false) {

                    isLoading = true;

                    layer.load();

                    $.get(url_table,
                        {
                            typeCode: $("#type").val(),
                            dbName: $("#dbName").val(),
                            Link: $("#link").val()
                        },
                        function (res) {

                            table = res;

                            var html = ['<option value="">请输入或选择</option>'];

                            for (var i = 0; i < res.length; i++) {
                                var item = res[i]
                                html.push(' <option value="', item.TableName, '">', item.TableName,'--',item.TableComment ,'</option>');
                            }

                            $("#table").html(html.join(''));

                            form.render('select');

                            isLoading = false;
                            layer.closeAll('loading');
                            table_input.focus();
                        }).error(function (req, info, ex) {
                            console.log(req.responseJSON.ExceptionMessage);
                            layer.closeAll('loading');
                            errorAlert(req.responseJSON.ExceptionMessage + "\n" + ex);
                        });

                }
            });
        })
    </script>
}
