<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="false"
      internalLogLevel="Debug"
      internalLogFile="D:\applogfiles\Vsan.Scheduling.Server\nlog.log">
  <variable name="logdir" value="D:\applogfiles\Vsan.Scheduling.Server"/>
  <targets>
    <target name="fileInfo"
		  xsi:type="File" layout="[${longdate}][${logger}][${level}] ${message} ${exception}"
		  fileName="${logdir}\${event-context:DirOrPrefix}${level}_${date:format=yyyyMMdd}${event-context:Suffix}.log"
		  archiveAboveSize="5000000"
		  Encoding="utf-8" />
    <target name="console" xsi:type="Console" layout="[${longdate}][${logger}][${level}] ${message} ${exception}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileInfo,console" />
  </rules>
</nlog>


