
@{
    ViewBag.Title = "Main";
}

<h2>
    DataMigrationTool
</h2>

<h2>
    数据迁移工具
</h2>
<p>
    把数据表从一个库导入到另一个库
</p>
<p>
    使用方法: 开始--> 添加数据源 添加转换方法 添加工单 配置字段 执行工单 完成。
</p>
<script src="~/Content/Assets/koharu/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({
        "model": {
            //jsonpath控制显示那个小萝莉模型，下面这个就是我觉得最可爱的小萝莉模型
            jsonPath: "/Content/Assets/koharu/koharu.model.json",
            "scale": 0.1
        },
        "display": {
            "position": "left", //看板娘的表现位置
            "width": 200,  //小萝莉的宽度
            "height": 300, //小萝莉的高度
            "hOffset": 0,
            "vOffset": 0
        },
        //"mobile": {
        //    "show": false,
        //    "scale":5
        //},
        "react": {
            "opacityDefault": 0.8,
            "opacityOnHover": 0.1
        }
    });
</script>
